@import "variables";
@import "libs/normalize";
@import "components/all";

* {
  user-select: none;
}

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 65px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  .paggination {
    margin-top: 20px;
    display: flex;
    gap: 15px;

    .page {
      width: 40px;
      height: 40px;
      border: 1px solid #FE5F1E;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FE5F1E;

    }

    .active {
      color: #fff;
      background-color: #FE5F1E;
    }
  }
}